.contact-container{
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
    margin-right: 16px;
    margin-left: 16px;
}

.images-container {
    padding-top: 24px;
}

.images-container img {
    width: 300px;
    height: auto;
    cursor: pointer;
}

h3 {   
    color:#004577;
}

@media screen and (max-width: 300px) {
    .images-container img {
        width: 90vw;
        height: auto;
    }   
}