<div class="contact-container">
    <div class="home-page-header">
        <h1>Let's talk.</h1>
    </div>
    <div class="contact-subtitle">
            <h3>Bonus points if you have a dog!</h3>
        <p>
            You can reach me on these platforms. <br/> If you want to use email click the contact me button. <br/>
        </p>
        <p>
            I'm also available for freelance work!
        </p>
        <div class="images-container">
            <img src="../../../assets/img/linkedin_full.png" alt="linkedin" (click)="redirectToLinkedin()"> <br/>
            <img src="../../../assets/img/github-full.png" alt="github" (click)="redirectToGithub()">
        </div>
    </div>
</div>