.title {
    color: #004577;
    text-align: center;
}

.progress {
    text-align: center;
    margin-top: 24px;
}

.knowledge-container {
    background-color: #E6E6E9;
    padding-top: 64px;
    padding-bottom: 64px;
}
