* {
    padding: 0;
}

.profile-container {
    margin-top: 64px;
    text-align:center;
}

.profile-subtitle {
    max-width: 500px;
    width: 90vw;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}
