* {
    padding: 0;
    background-color: #E6E6E9;
}

.profile-container {
    padding-top: 64px;
    text-align:center;
}

.profile-subtitle {
    max-width: 500px;
    width: 90vw;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 64px;
}
