* {
    margin: 0;
    padding: 0;
}

.card-container {
    top: 64px;
    position: relative;
    text-align: center;
    color: white;
  }

.image {
    width: 100%;
    height: auto;
    opacity: 0.95;
    min-width: 1280px;
}

.subtitle {
    font-size: 2vw;
    position: absolute;
    top: 44%;
    opacity: 0.75;
    left: 55%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 4vw;
    position: absolute;
    top: 52%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-family: 'Mukta', sans-serif;
}
.title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 88%;
    padding-top: 0.1vw;
    border-bottom: 0.4vw solid;
}

@media screen and (max-width: 600px) { /* Specific to this particular image */
    .card-container {
        top: 0;
    }

    .image-container {
        max-width: 600px;
        overflow: hidden;
        text-indent: -300px;
    }

    .image {
        filter: brightness(50%);
    }

    .subtitle {
        top: 30%;
        left: 50%;
        font-size: 12vw;
        width: 90vw;
    }
    .title {
        margin: 0;
        top:55%;
        left: 50%;
        width:100vw;
        font-size: 20vw;
        line-height: 12.5vh;
    }

  }
