<div class="experience-container">
  <div class="experience-header home-page-header">
    <h1>What I've Done.</h1>
  </div>
  <div class="work-experience">
    <!-- JSI WORK EXPERIENCE -->
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          Jatom Systems Inc.
        </mat-card-title>
        <mat-card-subtitle>
          Software Developer Intern: January 2019 - May 2019
        </mat-card-subtitle>
        <img mat-card-avatar class="jsi-image" src="../../../assets/img/jsi-logo.jpg" alt="JSI">
      </mat-card-header>
      <mat-card-content>
        As an Intern I was an instrumental part of a Web Development and Infrastructure Maintenance team.
        I helped in the development of a System Administration Angular Application, using ngRx and Ruby.
      </mat-card-content>
    </mat-card>
    <!-- CFIA WORK EXPERIENCE-->
    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>
            Canadian Food Inspection Agency
          </mat-card-title>
          <mat-card-subtitle>
            Android Engineer Intern: May 2018 - September 2018
          </mat-card-subtitle>
          <img mat-card-avatar class="jsi-image" src="../../../assets/img/cfia-logo.jpg" alt="JSI">
        </mat-card-header>
        <mat-card-content>
          As an Android Engineer Intern, I was a technical lead for a team of five other student engineers.
          This involved making key decision in the technilogical direction of the application, for the best maintainability and
          scalability. We made an application which helped streamline the process of indentifying lethal doses of undeclared allergens
          in food products.
        </mat-card-content>
      </mat-card>
      <button routerLink="/projects" class="text-color-header" mat-raised-button>Check out my Side Projects!</button>
  </div>
</div>