* {
    font-family: 'Karla', sans-serif;
}

.experience-container {
    padding-top: 64px;
    text-align: center;
    padding-bottom: 64px;
    z-index: -1;
}

.work-experience {
    margin-top: 36px;
}

button {
    width: 40vw;
    max-width: 500px;
    font-size: 24px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    background-color: #3F51B5;
}

.card {
    width: 40vw;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom:36px;
}

.jsi-image {
    width: 100px;
    height: 50px;
    object-fit: contain;
    border-radius: 0;
}

mat-card-title {
    font-size: 15vw;
}

mat-card-header {
    text-align: left;
    color: #0C7C59;
}

mat-card-content {
    padding-top: 16px;
    text-align: left;
}

mat-card-subtitle {
    color: #2D4739;
}

@media screen and (max-width: 600px) {
    .card{
        width: 90vw;
    }

    button {
        width: 90vw;
        font-size: 18px;
    }
}