h1 {
    font-family: 'Mukta', sans-serif;
}

.content {
    font-family: 'Karla', sans-serif;
}

.input {
    width: 100%;
}

mat-form-field {
    width: 100%;
    font-family: 'Karla', sans-serif;
}

button {
    margin-top: 24px;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.snackbar-email {
    background-color: #3F51B5;
}