* {
    margin: 0;
    padding: 0;
}

.banner-container {
    top: 64px;
    position: relative;
    text-align: center;
    padding-bottom: 90px;
    background-color: #F3FFBD;
}

.image {
    width: 100%;
    height: auto;
    opacity: 0.95;
    min-width: 1180px;
    filter: brightness(75%);
}

.title {
    font-size: 48px;
    position: absolute;
    color: #FE4A49;
    min-width: 600px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Mukta', sans-serif;
}

.subtitle {
    font-size: 32px;
    position: absolute;
    top: 45%;
    min-width: 600px;
    color: white;
    opacity: 0.75;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) { /* Specific to this particular image */
    .banner-container {
        top: 0px;
        padding-bottom: 150px;
    }

    .image-container {
        max-width: 600px;
        overflow: hidden;
        text-indent: -300px;
    }

    .image {
        filter: brightness(50%);
        margin-left: -400px;
    }

    .title {
        margin: 0;
        top:40%;
        left: 50%;
        width:100vw;
        min-width: 0;
        font-size: 36px;
    }

    .subtitle {
        font-size: 30px;
        top: 55%;
        min-width: 0px;
        width: 100vw;
    }

  }
