* {
    font-family: 'Karla', sans-serif;
}

::ng-deep .mat-card {
    // background-color: #E6E6E9;
}

mat-card-content {
    margin-top: 16px;
}

mat-card-title {
    color: #0C7C59;
}

mat-card-subtitle {
    color: #3e8bb2;
}

.content {
    margin-top: -16px;
    margin-right: 16px;
    margin-left: 16px;
}

.description {
    font-size: 16px;
}

.card-image {
    width: 400px;
    height: auto;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 6px;
}

.card-container {
    width: 65%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media screen and (max-width: 600px) { /* Specific to this particular image */
    .description {
        width: 300px;
    }

    .card-image{
        width: 325px;
    }

    .card-container {
        min-width: 350px;
    }

}