
* {
    background-color: #E6E6E9;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.banner-container {
    text-align: center;
    margin: auto 0;
}

h1 {
    color: #3e8bb2;
    font-family: 'Mukta', sans-serif;
}