
* {
    background-color: #CDC9FF;
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.banner-container {
    position: relative;
    text-align: center;
    height: 50vh;
}

.greetings {
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-icon {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    vertical-align:middle;
    font-size: 32px;
    background-color: #EF6461;
}
// #EF6461
// #E4B363
button {
    background-color: #EF6461;
    width: 30vw;
    min-width: 300px;
    color: white;
    font-size: 18px;
    max-width: 500px;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

h1 {
    color: #3e8bb2;
    font-family: 'Mukta', sans-serif;
}

@media screen and (max-width: 600px) { /* Specific to this particular image */
    .banner-container {
        top: 0;
    }

    .greetings {
        margin: 0;
        width:100vw;
        font-size: 5vw;
    }

    button {
        min-width: 210px;
    }

}