<div class="experience-container">
  <div class="title">
      <h1>Experienced Web Developer, Mobile Developer and Programmer</h1>
      <p>I have over three years of practical programming experience. Knowledgable in many different languages, frameworks and platforms.
      </p>
  </div>
  <mat-tab-group mat-stretch-tabs class="shadow">
          <mat-tab label="Education">
            <app-resume-card [title]="cards[0].title" 
            [subtitle]="cards[0].subtitle"
            [imgUrl]="cards[0].imgUrl"
            [description]="cards[0].description">
          </app-resume-card>
          </mat-tab>
          <mat-tab label="CFIA - Summer 2018"><app-resume-card [title]="cards[1].title" 
            [subtitle]="cards[1].subtitle"
            [imgUrl]="cards[1].imgUrl"
            [description]="cards[1].description">
          </app-resume-card></mat-tab>
          <mat-tab label="JSI - Winter 2019"><app-resume-card [title]="cards[2].title" 
            [subtitle]="cards[2].subtitle"
            [imgUrl]="cards[2].imgUrl"
            [description]="cards[2].description"></app-resume-card></mat-tab>
  </mat-tab-group>
</div>