<div #parentDiv>
    <mat-toolbar *ngIf="divWidth > 600" class="toolbar" color="primary">
        <mat-toolbar-row>
            <span class="title">I'm David Hew-wing</span>
            <img (click)="redirectToGitHub()" src="./assets/img/github-small.png" alt="github">
            <img (click)="redirectToLinkedIn()" src="./assets/img/linkedin-small.png" alt="linkedin">
            <span class="route-spacer"></span>
            <p routerLink="/home" class="route">Home</p>
            <p routerLink="/resume" class="route">Resume</p>
            <p routerLink="/projects" class="route">Side Projects</p>
            <p (click)="openDialog()" class="route">Contact Me</p>
            <span class="img-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <button  [disableRipple]="true" class="expand-button" mat-raised-button *ngIf="divWidth <= 600" [matMenuTriggerFor]="menu" color="primary">
        Click here to Navigate
    </button>
    <mat-menu #menu="matMenu">
            <button routerLink="/home" mat-menu-item>Home</button>
            <button routerLink="/resume" mat-menu-item>Resume</button>
            <button routerLink="/projects" mat-menu-item>Projects</button>
    </mat-menu>
</div>
<router-outlet></router-outlet>